@tailwind base;
@tailwind components;
@tailwind utilities;
.border_it {
  border: 0.25px solid gray;
}

body {
  background-color: black;
}

.rotate_it {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.blur_it {
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
}

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: rgb(24, 147, 255);
}
